body {
  font-family: "Montserrat", sans-serif;
}

.section-bg {
  background-color: #23285a;
}
.color-1 {
  color: #742522;
}
.color-2 {
  background-color: #d06e53;
}
.color-3 {
  background-color: #e9a355;
}
.color-4 {
  background-color: #e9b6bf;
}

.color-5 {
  background-color: #D8EBE4;
}

.course-table {
  border-collapse: separate;
  border-spacing: 0 20px;
  border-bottom: none;
  position: relative;
}

.table > tbody {
vertical-align: middle;
}
.link {
  text-decoration: none;
}



