.time {
  padding: 0.6rem 2.5rem;
}

.active-link {
  background-color: #ff8700 !important;
}

.form-check-input:checked {
  background-color: #ea5670 !important;
  border-color: #ff8700 !important;
}

.form-check-input:checked[type=checkbox] {
  background-color: rgb(163, 161, 161) !important;
  border-color: #fff !important;
}

.payment-btn {
  background-color: #ea5670;
  padding: 0.2rem 2.5rem;
  margin-right: 0.25rem;
}

.bold-line {
  height: 4px !important;
  background-color: #bc6808;
  border-radius: 4px;
}

@media screen and (min-width: 600px) {
  .payment-btn {
    margin-right: 10rem;
  }
}
